

<div class="container">
  <h1>Enter a tweet to tweet, <%= @name %></h1>

  <form id="tweet-form" action='/tweet' method='post'>
    <input id='tweet_input' type='text' name='tweet'>
    <input type='submit' value='submit'>
  </form>

  <br><br><div id='tweets'></div>
  <br><br><div id='error'></div>

</div>
